pip==20.0.2
setuptools==45.2.0
wheel==0.34.2
gensim==3.8.1
scikit_learn==0.22.1
matplotlib==3.2.1
numpy==1.18.2
pandas==1.0.3
scipy==1.4.1
seaborn==0.10.0
tensorflow==2.1.0
tensorboard==2.1.1
tensorboardX==2.0
kaggle==1.5.6
jupyter==1.0.0 
jupyterlab==2.0.1
nbdime==2.0.0
japanize-matplotlib
torch
torchvision
nltk
